.header {
    margin: 1rem 2rem;
    text-align: left;
}

.header__link {
    display: inline-block;
    height: fit-content;
    text-decoration: none;
    color: var(--text-h);
    transition: transform .2s ease;

    &:hover {
        color: var(--text-hover);
        transform: scale(110%);
    }
}

.header__logo {
    width: 15rem;
    height: auto;
}

h1 {
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }
}