.characters-list {
    margin-bottom: 4rem;
}


.characters-more {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.characters-count {
    font-size: 1.2rem;
    font-family: var(--sans);
    font-weight: 700;
    text-align: right;
    letter-spacing: 0.03em;
}